/* FOOTER GENERAL*/

.footer {
  margin-top: 80px;
  background: linear-gradient(135deg, #0b1220, #111827);
  padding: 40px 20px;
  border-top: 1px solid #1e293b;
  box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.4);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* BRAND*/

.footer-brand h3 {
  font-size: 20px;
  margin-bottom: 6px;
  background: linear-gradient(90deg, #f97316, #fb923c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-brand p {
  font-size: 14px;
  color: #94a3b8;
}

/*INFO*/

.footer-info {
  text-align: right;
}

.footer-info p {
  font-size: 14px;
  color: #94a3b8;
  margin: 3px 0;
}

/* HOVER SUTIL*/

.footer:hover {
  background: linear-gradient(135deg, #111827, #1e293b);
  transition: background 0.4s ease;
}

/*RESPONSIVE */

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-info {
    text-align: center;
  }
}